.tweet-header
  = link_to root_path, class: "tweet-header__name" do
    = icon('fas', 'swimmer')
    宮古島
  %ul.tweet-header__btn
    %li= link_to "新規投稿", new_tweet_path, class: "tweet-header__btn__a" 
    %li= link_to "投稿一覧", tweets_path, class: "tweet-header__btn__a"
.tweets
  .tweets__head
    %h1 投稿編集
  .tweet
    = form_with model: @tweet, local: true do |f|
      .form__tweet
        = f.text_area :content, class: "tweet__text", placeholder: "#{@tweet.content}"
        = f.label :image, class: "input__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "tweet__image"
        %button.submit{type: "submit"} 送信