.tweet-header
  = link_to root_path, class: "tweet-header__name" do
    = icon('fas', 'swimmer')
    宮古島
  - if user_signed_in?
    %ul.tweet-header__btn
      %li= link_to "店舗一覧", shops_path, class: "tweet-header__btn__shops"
      %li= link_to "新規投稿", new_tweet_path, class: "tweet-header__btn__a" 
      %li= link_to current_user.name, user_path(current_user.id), class: "tweet-header__btn__name"
      -# %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "tweet-header__btn__b" 
  - else
    %ul.contents__header__btn
      %li= link_to "新規登録", new_user_registration_path, class: "contents__header__btn__a" 
      %li= link_to "ログイン", new_user_session_path, class: "contents__header__btn__b" 
.tweets
  - @tweets.each do |tweet|
    - if tweet.image.present?
      .tweett
        .tweett__name
          = link_to tweet.user.name, user_path(tweet.user_id), class: "tweett__name__user"
        .tweett__text
          = tweet.content
        .tweett__img
          = link_to image_tag("#{tweet.image.url}", width: "670", height: "300"), tweet_path(tweet.id)
        .tweett__some
          = icon("far", "heart")
    - else
      .tweett
        .tweett__name
          = link_to tweet.user.name, user_path(tweet.user_id), class: "tweett__name__user"
        .tweett__text
          = link_to "#{tweet.content}", tweet_path(tweet.id), class: "tweett__link"
        .tweett__some
          = icon("far", "heart")
