.tweet-header
  = link_to root_path, class: "tweet-header__name" do
    = icon('fas', 'swimmer')
    宮古島
  %ul.tweet-header__btn
    %li= link_to "新規投稿", new_tweet_path, class: "tweet-header__btn__a" 
    %li= link_to "投稿一覧", tweets_path, class: "tweet-header__btn__a" 
.tweets
  - @tweets.each do |tweet|
    - if tweet.image.present?
      .tweett
        .tweett__name
          = tweet.user.name
        .tweett__text
          = tweet.content
        .tweett__img
          = link_to image_tag("#{tweet.image.url}", width: "670", height: "300"), tweet_path(tweet.id)
        .tweett__some
          = icon("far", "heart")
    - else
      .tweett
        .tweett__name
          = tweet.user.name
        .tweett__text
          = link_to "#{tweet.content}", tweet_path(tweet.id), class: "tweett__link"
        .tweett__some
          = icon("far", "heart")
