.contents
  .contents__header
    = link_to tweets_path, class: "contents__header__name" do
      = icon('fas', 'swimmer')
      宮古島
    - if user_signed_in?
      %ul.contents__header__btn
        %li= link_to "店舗一覧", shops_path, class: "contents__header__btn__shops"
        %li= link_to "投稿一覧", tweets_path, class: "tweet-header__btn__a"
        %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "tweet-header__btn__b" 
    - else
      %ul.contents__header__btn
        %li= link_to "新規登録", new_user_registration_path, class: "contents__header__btn__a" 
        %li= link_to "ログイン", new_user_session_path, class: "contents__header__btn__b" 
  .container_top
    .container_top__info
      %hi Let's have a good time 
      %h1 in
      %hi Miyako Island
      %h3 ~一生に一度の思い出を~
      %p Do you wanna join us?
    .container_top__btn
      = link_to new_user_registration_path, class: "container-btn container_top__btn_user" do
        = icon('fas', 'user')
        新規登録
      = link_to "#", class: "container-btn container_top__btn_facebook" do
        = icon('fab', 'facebook')
        Facebookで登録
      = link_to "#", class: "container-btn container_top__btn_twitter" do
        = icon('fab', 'twitter')
        Twitterで登録
  .container_middle
    .container_middle_info
      %p ダイビング
      = image_tag("/images/miyako.jpeg")
    .container_middle_info
      %p 星座観賞
      = image_tag("/images/miyako1.jpeg")
    .container_middle_info
      %p 宮古グルメ
      = image_tag("/images/miyako2.jpeg")



    


